h1 {
	color: darkblue;
	font-family: Georgia, serif;
	font-size: 2.5em;
	margin-left: 50px;
	margin-bottom: 5px;
	display:block;
   }

h2 {
	color: #0066ff;
	font-family: Georgia, serif;
	font-size: 1.75em;
	margin-left: 50px;
}

header {
	display:block;
}

a {
 	color: #cce5ff;
 	font-family: Courier New;
  }

div {
	margin: 20px 10px 10px 60px;
	height: 50%;
	width: 50%;
}

a:hover {
 			color: yellow;
 			font-size: 1.25em;
 			background-color: darkgrey;
 	    }

.social {
	width: 50px;
	height: 50px;
	float:right;
	margin: 5px 50px 5px 5px;
}

header span {
	margin: 5px 5px 5px 5px;
}

header a {
	margin: 5px 5px 5px 5px;
}

p {
	font-family: Verdana, Geneva, sans-serif;
}

header img {
	height: 150px;
	width: 900px;
	margin: auto;
	display:inline;
	/* float: left; */
}

footer {
	position: static;
	font-family: Courier New;
	font-size: 0.5em;
}